<div class="content">
  <div class="categories">
    <div class="title-page">
      <h1>Categories</h1>
    </div>
  </div>

  <div class="all-categories">
    <div class="button-categories">
      <div class="small-btn" align="center">
        <div class="first-line-btn">
          <button class="small-button">Jazz</button>
          <button class="small-button">Rock</button>
          <button class="small-button">Classic</button>
          <button class="small-button">Country</button>
          <button class="small-button">Hip-Hop</button>
        </div>
        <div class="second-line-btn">
          <button class="small-button">Disco</button>
          <button class="small-button">Blues</button>
          <button class="small-button">Pop</button>
          <button class="small-button">Club</button>
        </div>
      </div>
      <div class="container" align="center">
        <button class="big-button">Instrumental</button>
        <button class="big-button">Opera</button>
        <button class="big-button">Popular</button>
      </div>
    </div>
  </div>
</div>
